<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="NorthWindTuneadoDbContext" connectionString="metadata=res://*/Datos.NorthWindTuneadoDbContext.csdl|res://*/Datos.NorthWindTuneadoDbContext.ssdl|res://*/Datos.NorthWindTuneadoDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Localhost;initial catalog=NorthWindTuneado;persist security info=True;user id=Usuari;password=U5u4r1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <add name="NorthWindTuneadoDbContext" connectionString="metadata=res://*/Datos.NorthWindTuneadoDbContext.csdl|res://*/Datos.NorthWindTuneadoDbContext.ssdl|res://*/Datos.NorthWindTuneadoDbContext.msl;provider=System.Data.SqlClient;provider connection string='workstation id=NorthWindTuneado.mssql.somee.com;packet size=4096;user id=SrProfesorAngel_SQLLogin_1;pwd=2ig6kll5oo;data source=NorthWindTuneado.mssql.somee.com;persist security info=False;initial catalog=NorthWindTuneado'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>